body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  margin-top: 6rem;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

input {
  margin-left: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  margin: 0 auto;
}
th {
  padding: 0.5rem;
  cursor: pointer;
}
td {
  padding: 0.25rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.pagination span {
  cursor: pointer;
}
.pagination--active {
  font-weight: 700;
  transform: scale(110%);
}
button {
  cursor: pointer;
}
